.page-title,
.post-title {
    color: #6a9fb5;
}

.language-java {
    font-size: smaller;
}

@media (min-width: 48em) {
    html {
        font-size: 13px;
    }
}
@media (min-width: 58em) {
    html {
        font-size: 16px;
    }
}